@font-face{
    font-family: "Royal Acid";
    src:url("../fonts/Royalacid.ttf");
}
.header{
    background-color: black;
    height:120px;
    font-family: "Royal Acid";
}
.title{
    margin-top:20px;
    font-size: 6em;
}
.score{
    font-size: 2.2em;
    margin-top:25px
}
.bgbody1{
    background-color: black;
}

.bgbody2 {

    background-color: black;
    border-style: inset;
    border-radius: 10px;
    border-color: palegoldenrod;
}

.imgcard {

margin-top: 30px;
height: 11rem;
margin-bottom: 20px;


}
.image {
    width : 50%;
    position: static;
}
.games{
    font-size: 40px;
}
body{
    background-color: black;
}
