@font-face{
    font-family: "Royal Acid";
    src:url("../fonts/Royalacid.ttf");
}
.header{
    background-color: black;
    height:100px;
    font-family: "Royal Acid";
}
.title{
    margin-top:20px;
    margin-left: 10px;
    font-size: 5em;
}
.score{
    font-size: 1.6em;
    margin-top:20px;
    margin-left:3em;
}
.bgbody1{
    background-color: black;
}

.bgbody2 {

    background-color: black;
    border-style: inset;
    border-radius: 10px;
    border-color: palegoldenrod;
}

.imgcard {

margin-top: 20px;
height: 11rem;
margin-bottom: 10px;

}
.cardzone{
    margin-left: 20px;
    margin-top:22%;
    height: 11rem;
}
#PCard{
    border: dashed 3px black;
    border-radius : 5px;
    height: 11rem;
    width: 7.8rem;
}
#AICard{
    border-radius : 5px;
}

.table {
    background-image : url(../img/pokerTable.png);
    background-image : cover;
    width : 874px;
    Height : 477px;
}
.games{
    font-size: 40px;
}
body{
    background-color: black;
}
#rules{
    margin-left: 60px;
    margin-top: 30px;
    width:5em;
    height: 5em;
    border-radius: 20px

}
#stats{
    font-size: 20px;
}
